.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: auto;
  background-color: #dce9dd;

  border-radius: 10px;
  box-shadow: 5px 5px 0 0 rgb(109, 96, 39);
}

.updates {
  display:none;
}
.submitUpdate{
  background-color: #90c892;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  font-family: 'Times New Roman', serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  gap: 20px;
  position: relative;
}

.button-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  gap: 20px;
  position: relative;
}

button {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: #594327;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: 'Times New Roman', serif;
}

button:hover {
  background-color: #a88e7d;
}

.buton {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: #594327;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: 'Times New Roman', serif;
}

.buton:hover {
  background-color: #a88e7d;
}

.card {
  position:absolute;
  display:inline-flex;
  margin: 10px;
  margin-left: 700px;
  width: 200px;
  height: auto;
  background-color:  #594327;
  color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  margin-top: -60px;
  font-family: 'Times New Roman', serif;
  border-radius: 10px;
  box-shadow: 3px 3px 0 0 rgb(29, 1, 1);
  z-index: 2;
}

.clickable-row:hover {
  background-color: #89611b6e;
  color: #ffffff;
  cursor: pointer;
}

.card h3 {
  margin-top: 0;
}
.card p {
  margin-bottom: 0;
}

.profile-image {
  margin-top: 10px;
  position: relative;
  border-radius: 50%;
}

div {
  display: block;
}

table {
  margin-top: 20px;
  background-color: rgb(249, 248, 248);
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #36290f2d;
  padding: 8px;
  text-align: center;
  background-color: #5b5c1da6;
}

th {
  background-color: #797a68a6;
  font-weight: bold;
}

thead {
  background-color: #594327;
  color: white;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td.highlight {
  background-color: #ffeeba;
}

th, td {
  width: 350px;
}

.imgg {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-container {
  position: flex;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-bottom: 10px;
  gap: 20px;
}

#nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  z-index: 2;
}

#nav-bar-text {
  color: #133c26; 
}

#navbar-items {
  text-decoration: none;
  color: #133c26; 
}

#navbar-items:hover {
  color: #608069; 
}

.fa-home {
  margin-left: 5px;
  color: #133c26; 
  background-color: #ffffffa8; 
  border-radius: 50%; 
  padding: 5px; 
}

h1 {
  margin-top: 20px;
}

.margin{
  margin-bottom:40px;
}

.lan{
  background-color: #dce9dd;
  display: block;
  border-radius: 50%; 
}