{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    <head>
        <title>Admin Page</title>
    </head>
    <div>
        <h1>Welcome to the Admin Page</h1>

        <div class="table-responsive">
            <form action="/admin/statistics" method="POST">
                {{ form.hidden_tag() }}
                <div class = "button-container">
                    Choose Month
                    {{form.month}}
                    Choose Year
                    {{form.year}}

                    {{form.search (class = "buton")}}
                </div>
            </form> 
            <h3>Total Borrows Per School</h3>
            <table id="school_borrows" class="table">
                <thead>
                  <tr>
                      <th>School Name</th>
                      <th>Total Borrows</th>
                  </tr>
                </thead>
                <tbody>
                  {% for school in schools %}
                      <tr>
                          <td> {{ school.s_name }} </td>
                          <td> {{ school.total }} </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    
    <form action="/admin/statistics" method="POST">
        <hr>
        {{ form2.hidden_tag() }}
        Pick a Category
        <div class = "button-container">
            {{form2.category}}
            {{form2.search(class = " buton ")}}
        </div>
    </form> 
    <div class="table-responsive">
    <h3>Writters who have written a book in this category in 2023</h3>
        <table id="authors" class="table">
            <thead>
              <tr>
                  <th>Author Name</th>
              </tr>
            </thead>
            <tbody>
              {% for author in authors %}
                  <tr>
                      <td> {{ author.Ath_full_name }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        <hr>
        <h3>Teachers who have borrowed a book of this category in 2023</h3>
        <table id="teachers" class="table">
            <thead>
              <tr>
                  <th>Teacher First Name</th>
                  <th>Teacher Last Name</th>
              </tr>
            </thead>
            <tbody>
              {% for teacher in teachers %}
                  <tr>
                      <td> {{ teacher.teacher_first_name }} </td>
                      <td> {{ teacher.teacher_last_name }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <hr>
        <h3>Teachers who have borrowed the most books (under 40 Years Old)</h3>
        <table id="young_teachers" class="table">
            <thead>
              <tr>
                  <th>Teacher First Name</th>
                  <th>Teacher Last Name</th>
                  <th>Total Books</th>
              </tr>
            </thead>
            <tbody>
              {% for teacher in young_teachers %}
                  <tr>
                      <td> {{ teacher.teacher_first_name }} </td>
                      <td> {{ teacher.teacher_last_name }} </td>
                      <td> {{ teacher.total }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <hr>
        <h3>Authors whose books have not yet been borrowed</h3>
        <table id="authors_no" class="table">
            <thead>
              <tr>
                  <th>Author Name</th>
              </tr>
            </thead>
            <tbody>
              {% for author in authors_no %}
                  <tr>
                      <td> {{ author.Ath_full_name }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <hr>
        <h3>Operators who have registered the same amount of borrows with another operator (more than 20 borrows)</h3>
        <table id="operators" class="table">
            <thead>
              <tr>
                  <th>Operator 1 First Name</th>
                  <th>Operator 1 Last Name</th>
                  <th>Operator 2 First Name</th>
                  <th>Operator 2 Last Name</th>
              </tr>
            </thead>
            <tbody>
              {% for operator in operators %}
                  <tr>
                      <td> {{ operator.o1firstname }} </td>
                      <td> {{ operator.o1lastname }} </td>
                      <td> {{ operator.o2firstname }} </td>
                      <td> {{ operator.o2lastname }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <hr>
        <h3>Top 3 Category Pairs</h3>
        <table id="categories" class="table">
            <thead>
              <tr>
                  <th>1st Category</th>
                  <th>2nd Category</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
                  <tr>
                      <td> {{ category.category1 }} </td>
                      <td> {{ category.category2 }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <hr>
        <h3>Authors who have written 5 or less books than the Author who has written the most books</h3>
        <table id="authors_5" class="table">
            <thead>
              <tr>
                  <th>Author Name</th>
              </tr>
            </thead>
            <tbody>
              {% for author in author_5 %}
                  <tr>
                      <td> {{ author.Ath_full_name }} </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
</div>
    
</div>
{% endblock content %}