{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <head>
        <title>Insert new School</title>
    </head>
    <body>
        <h1>Insert new School</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div>
                School Name
                {{ form.s_name(class = "form-control", placeholder = "Enter Scool Name", required = False) }}
                {% if form.s_name.errors %}
                    <ul class="errors">
                        {% for error in form.s_name.errors %}
                            <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                Address
                {{ form.address(class = "form-control", placeholder = "Enter the address", required = False) }}
                {% if form.address.errors %}
                    <ul class="errors">
                        {% for error in form.address.errors %}
                            <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                City
                {{ form.city(class = "form-control", placeholder = "Enter the city", required = False) }}
                {% if form.city.errors %}
                    <ul class="errors">
                        {% for error in form.city.errors %}
                            <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                Phone Number
                {{ form.phone_number(class = "form-control", placeholder = "Enter phone number", required = False) }}
                {% if form.phone_number.errors %}
                    <ul class="errors">
                        {% for error in form.phone_number.errors %}
                            <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                email
                {{ form.email(class = "form-control", placeholder = "Enter email", required = False) }}
                {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                            <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                Principle Name
                {{ form.p_full_name(class = "form-control", placeholder = "Enter Name", required = False) }}
                {% if form.p_full_name.errors %}
                    <ul class="errors">
                        {% for error in form.p_full_name.errors %}
                            <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class = "button-container2">
                {{ form.enter_school (class="buton") }}
            </div>
        </form>
    </body>
</div>
{% endblock content %}