{% extends "global_layout.html" %}
{% block content %}
<div class="container">
  <head>
      <title>Student Profile</title>
  </head>
  <div>
      <h1>Welcome to the Student Profile</h1>
      <form>
         <button type = "submit" name="button_pressed" value="{{ not button_pressed}}"></button>
      </form>
      <h2>Name</h2>
      <div>
        <div>
          {{information.username}}
        </div>
        <div>
          {{information.First_name}}
          {%if button_pressed %}
            <div>
              {{information.First_name}}
            </div>
          {%endif%}
        </div>
        {{information.Last_name}}


      </div>
      <h2>Reservations</h2>

  </div>
</div>
{% endblock content %}