{% extends "global_layout.html" %}
{% block content %}
<head>
  <title>Student Page</title>
</head>
<div class="container">

      <h1>Welcome to the Student Page</h1>
      <div class="button-container">
        <button id="profile" onclick = "window.location.href='/student/profile/' + '{{username}}'">Profile</button>
        <button id="borrow" onclick="window.location.href='/book/' + '{{ username }}'">Browse Book Catalogue</button>
        
      </div>
      <div class="card">
        {% if has == 1 %}
          <h3>Library Card</h3>
          <p><strong>Username:</strong> {{ username }}</p>
          <img class="profile-image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture">
        {% else %}
          <h3>Unfortunately you do not own a library Card!</h3>
          <p>Please wait for approval from an operator.</p>
        {% endif %}
      </div>
      <h2>Current Borrows</h2>
      {% if borrows|length == 0 %}
          <h2 style="margin-top: 5rem;">No Borrows found!</h1>
      {% else %}
      <div class="table-responsive">
      <table id="borrows" class="table">
          <thead>
            <tr>
                <th>Book Title</th>
                <th>Borrow Date</th>
                <th>Return</th>
            </tr>
          </thead>
          <tbody>
            {% for borrow in borrows %}
                <tr>
                    <td> {{ borrow.title }} </td>
                    <td> {{ borrow.b_date }} </td>
                    <td>
                      <form action="{{ url_for('bookinfo.returnbook', username=username, ISBN=borrow.ISBN) }}" method="POST">
                        <button type="submit" class="button">Return</button>
                      </form>
                    </td>                    
                </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
      {% endif %}
  
      <h2>Current Reservations</h2>

        {% if reserves|length == 0 %}
            <h2 style="margin-top: 5rem;">No Reservations found!</h1>
        {% else %}
        <div class="table-responsive">
          <table id="reserves" class="table">
              <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Reservation Date</th>
                    <th>Cancel Reservation</th>
                </tr>
              </thead>
              <tbody>
                {% for reserve in reserves %}
                    <tr>
                        <td> {{ reserve.title }} </td>
                        <td> {{ reserve.r_date }} </td>
                        <td>
                          <form action="{{ url_for('bookinfo.cancel', username=username, ISBN=reserve.ISBN) }}" method="POST">
                            <button type="submit" class="button">Cancel</button>
                          </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
</div>
{% endblock content %}