{% extends "global_layout.html" %}
{% block content %}
<div class="container">
  {% include "flash_messages.html" %}
  <head>
      <title>Teacher Profile</title>
    <script>
      function toggleDiv(x,y) {
          var checkbox = document.getElementById(x);
          var div = document.getElementById(y);
    
          if (checkbox) {
              div.style.display = 'inline-block';
              document.getElementById("firstdiv").style.display = 'block';
              document.getElementById("lastdiv").style.display = 'block';
              document.getElementById("passdiv").style.display = 'block';
              document.getElementById("agediv").style.display = 'block';
              document.getElementById('submit').style.display = 'block';
          } else {
              div.style.display = 'none';
              document.getElementById("firstdiv").style.display = 'none';
              document.getElementById("lastdiv").style.display = 'none';
              document.getElementById("passdiv").style.display = 'none';
              document.getElementById('submit').style.display = 'none';
          }
      }
    </script>
  </head>
  <div class = "table-container">
    <form action="/teacher/profile/{{information.username}}" method="POST">
      {{ form.hidden_tag() }}
      <h2>Your Profile</h2>
      <div class = "table">
        <h3>Username</h3>
        <div>
          {{information.username}}
        </div>
        <h3>First Name</h3>
        <div>
          {{information.First_name}}
          
          <div class="updates" id="firstdiv">
            {{form.first_name(class = "form-control", placeholder = "Enter your new first name", required = False)}}
          </div>    
        </div>
        <h3>Last Name</h3>
        <div>
          {{information.Last_name}}
          <div class="updates" id="lastdiv">
            {{form.last_name(class = "form-control", placeholder = "Enter your new last name", required = False)}}
          </div> 
        </div>
        <h3>Password</h3>
        <div>
          {{information.u_password}}
          <div class="updates" id="passdiv">
            {{form.password(class = "form-control", placeholder = "Enter your new password", required = False)}}
          </div> 
        <h3>Age</h3>
          <div>
            {{information.age}}
            <div class="updates" id="agediv">
              {{form.age(class = "form-control", placeholder = "Enter your new age", required = False)}}
            </div> 
          </div>
        <div class="updates" id="submit">
            {{form.submit}}
        </div> 
      </div>
    </form>
    <div class="button-container">
      <button type="submit" id="first" onclick="toggleDiv('first','firstdiv')">Update</button>
      <form action="{{ url_for('teacher.deleteTeacher', username=information.username) }}" method="POST">
        <button type="submit" class="button">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
