{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <head>
        <title>Books</title>
    </head>
    <body>      
        <h1>Borrow a Book!</h1>
        <h2>Find your next favorite page-turner here:</h2>
    </body>
    <div class="search-container">        
        <form action="/book/{{ username }}" method="GET">
            <input type="text" name="search" placeholder="Search for a title, author or category">
            <button type="submit"><i class="fas fa-search search-icon"></i></button>
        </form>
    </div>
        {% if books|length == 0 %}
            <h2 style="margin-top: 5rem;">No books found!</h1>
        {% else %}
        <div class="table-responsive"></div>
        <table id="book" class="table">
            <thead>
              <tr>
                  <th>Book Title</th>
                  <th>Available copies</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
                  <tr class = "clickable-row" onclick="window.location.href='/bookinfo/{{ username }}/{{ book.ISBN }}'" >
                        <td>{{ book.title }}</td>
                        <td>{{ book.available_copies }} </td>
                  </tr>
              {% endfor %}
          </tbody>
          </table>
        {%endif%}
    </div>
</div>
{% endblock content %}