{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <head>
        <title>Pick Operator Page</title>
        
    </head>
    <div>
        <h1>Pick a Teacher to become Operator</h1>

        <div class="table-responsive">
            <table id="teachers" class="table">
                <thead>
                  <tr>
                      <th>Teacher First Name</th>
                      <th>Teacher Last Name</th>
                      <th>Teacher username</th>
                  </tr>
                </thead>
                <tbody>
                  {% for teacher in teachers %}
                      <tr class = "clickable-row" onclick="location.href='/admin/school/{{ teacher.username }}';">
                          <td> {{ teacher.first_name }} </td>
                          <td> {{ teacher.last_name }} </td>
                          <td> {{ teacher.username }} </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock content %}