.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: auto;
  background-color: #dce9dd;

  border-radius: 10px;
  box-shadow: 5px 5px 0 0 rgb(109, 96, 39);
}

.updates {
  display:none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  font-family: 'Times New Roman', serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  gap: 20px;
}

button {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: #90c892;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: 'Times New Roman', serif;
}

button:hover {
  background-color: #486e49;
}

.buton {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: #90c892;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: 'Times New Roman', serif;
}

.buton:hover {
  background-color: #486e49;
}

.card {
  position:absolute;
  display:inline-flex;
  margin-left: 700px;
  width: 200px;
  height: auto;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', serif;
}

.clickable-row:hover {
  background-color: #23743b;
  cursor: pointer;
}

.card h3 {
  margin-top: 0;
}
.card p {
  margin-bottom: 0;
}

.profile-image {
  position: relative;
 
}

div {
  display: block;
}

table {
  background-color: rgba(235, 243, 235, 0.726);
}

th, td {
  border: 3px solid #1811032d;
  padding: 8px;
  text-align: center;


}

th {
  background-color: #5b5c1da6;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #cdecc185;
}

td.highlight {
  background-color: #ffeeba;
}
