.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70vh;
  margin: auto;
  background-color: #dce9dd;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  text-align: center;
  font-family: 'EB Garamond';
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  font-family: Arial, serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 17px;
  border: none;
  background-color: #a0d4a2;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #6cbf6f;
}
